@model yugen_dev.ViewModels.HomeViewModel

<h2>Menu du moment</h2>
    @{
        int i = 0;
        while (i < 3)
            {
            if (Model.Dishes != null && Model.Dishes.Any())
        { 
            <div class="menu-container d-flex">
                <div class="menu-text-container d-flex flex-column flex-grow-1">
                    <div class="menu-title-container d-inline-flex">
                        <h3 class="jap-name">お任せ</h3>
                        <h3 class="flex-grow-1">Omakase</h3>
                        <h3>250.00</h3>
                    </div>
                     @{
                        var dishesArray = Model.Dishes.ToArray();
                        foreach (var dish in Model.Dishes)
                        {
                            <div class="menu-dish-container d-inline-flex">
                        <h4  class="jap-name">日本語</h4>
                        <div class="menu-dish-description">
                            <h4>@dish.NameFr</h4>
                            <p>@dish.Description </p>
                        </div>
                    </div> 
                        }
                    }
                </div>
                @if (Model.Dishes != null && Model.Dishes.Any())
                    {
                        var firstDish = Model.Dishes.First();

                        <img src="@firstDish.ImagePath" class="img-fluid col-md-4" alt="Dish1" />
                    }
                else
                    {
                        <p>No dishes available.</p>
                    }
                </div>
            }
            i++;
        }
    }


