/* @media (min-width: 768px) {
  .custom-mt-md-30 {
    margin-top: 200px;
  }
} */
.jap-name {
  font-family: noto sans jp, sans-serif;
}
@media (min-width: 768px) {
  .favorite-dishes:nth-child(2) {
    padding-top: 10rem;
  }
}
/* .favorite-dishes:first-child {
  padding-top: 2rem;
} */

/* .favorite-dishes:nth-child(2) {
  padding-top: 10rem;
} */

/* .favorite-dishes:nth-child(3) {
  padding-top: 5rem;
} */
@media (min-width: 768px) {
  .favorite-dishes:nth-child(3) {
    padding-top: 5rem;
  }
}
