<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="img/pexels-sushi6.jpg" class="img-fluid" alt="Image 1">
            <h1>
                Miyabi (雅)
            </h1>
            <p> Explorez l'harmonie exquise entre nos délicats sushis et la sophistication du caviar. Chaque bouchée
                révèle une fusion parfaite de saveurs raffinées, une expérience gastronomique où la tradition japonaise
                rencontre l'élégance contemporaine. </p>
        </div>
        <div class="col-md-4 custom-mt-md-30 ">
            <img src="img/pexels-sushi8.jpg" class="img-fluid" alt="Image 2">
            <h1>Sora Reinbōrōru (空レインボーロール)</h1>
            <p>Plongez dans l'harmonie exquise du "Sora Reinbōrōru", où chaque bouchée dévoile une symphonie de
                fraîcheur subtile. Ce rouleau céleste incarne l'essence de la gastronomie japonaise, offrant une fusion
                parfaite de saveurs délicates et raffinées. </p>
        </div>
        <div class="col-md-4 mt-md-5">
            <img src="img/pexels-sushi9.jpg" class="img-fluid" alt="Image 3">
            <h1> Himitsu (秘密) </h1>
            <p>
                Plongez dans l'univers exquis de notre plat signature, le "Himitsu", une création mystérieuse du chef
                révolutionnant l'art du sushi. Un assortiment exclusif, soigneusement sélectionné, alliant
                sophistication, mystère et délice. </p>
        </div>
    </div>
</div>

