<div class="absolute">
    <picture>
        <source media="(max-width: 799px)" srcset="img/resizedIMG_7357-001.jpg" />
        <source media="(min-width: 800px)" srcset="img/IMG_7357-001.jpg" />
        <img
            src="img/IMG_7357-001.jpg"
            alt="le restaurant et ses chefs"
             class="img-fluid vw-100 vh-100 object-fit-cover" />
    </picture>
</div>
<div class="vh-100">
</div>