<div class="container">
<p class="text-center mb-5">Yūgen, c'est la douceur de la brume matinale sur les montagnes, la quiétude d'un jardin japonais au clair de lune.
</p>
<p class="text-center">Chez Yūgen, chaque bouchée est une invitation à l'évasion sensorielle, où chaque saveur, chaque texture, et chaque instant promettent un plaisir inattendu. </p>
</div>