@using System.Security.Claims;

@model yugen_dev.Models.Review

@{
    ViewData["Title"] = "Review";
    string clientFirstName = ViewData["ClientFirstName"] as string;
}
<img src="~/img/IMG_7357-001.jpg" alt="logo yugen" class="z-1 img-fluid vw-100 vh-100 object-fit-cover fixed-top">
<div class="container-md z-2 position-relative bg-white mw-650px remove-all-padding text-center">
    <div class="d-flex flex-row height-200 justify-content-center align-items-center">
        <a href="/" class="position-absolute start-0 align-self-start m-2 text-main-red">Retour au site</a>
        <img src="~/img/logo_yugen.png" alt="logo yugen" class="w-50"/>
    </div>
    <h1 class="col-10 text-center mx-auto ft-family-poppins h3"> @clientFirstName, qu'avez vous pensé de votre expérience au sein du Yūgen?</h1>
            <form asp-action="CreateReview" method="post" class="z-2">
    <div class="z-2 d-flex flex-column">
        <label asp-for="Message"></label>
        <textarea asp-for="Message" rows="3" cols="33"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
        <select asp-for="Rating" class="bg-dark-blue text-white border-0 px-2 py-1">
            <option value="1">1/5</option>
            <option value="2">2/5</option>
            <option value="3">3/5</option>
            <option value="4">4/5</option>
            <option value="5">5/5</option>
        </select>
    </div>
    <input type="submit" value="Noter" class="mx-auto mb-3 bg-main-red text-white border-0 rounded-corner px-4 py-2"/>
</form>
</div>