html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: space grotesk, sans-serif;
}

h1, h2, h3, h4 {
  font-family: poppins, sans-serif;
}

.object-fit-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.height-200 {
  height: 200px;
}

.bg-main-red {
  background-color: #FF492D;
}

.bg-light-yellow {
  background-color: #FFE893;
}

.bg-light-green {
  background-color: #A0CCAD;
}

.bg-light-blue {
  background-color: #8EB1BD;
}

.bg-dark-blue {
  background-color: #00002A;
}

.text-main-red {
  color: #FF492D;
}

.remove-all-padding {
  padding: 0 !important;
}

.rounded-corner {
  border-radius: 20px;
}

.mw-650px {
  max-width: 650px;
}
