@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Cofirmation de mot de passe oublié";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vérifiez votre adresse email pour réinitialiser votre mot de passe.
</p>
