@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Cette application n'a pas encore de gestionnaire de confirmation d'email<a id="confirm-link" href="@Model.EmailConfirmationUrl">CLiquez ici pour confirmer votre compte</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

