<footer class="border-top footer">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="@Url.Content("~/img/logo.png")"
                style="width: 80px" /></a>
        <div class="row mt-5">
            <div class="col-md-3">
                <p>Horaires d'ouverture</p>
                <p>Du Lundi au Samedi</p>
                <p>De 12h00 à 15h00</p>
                <p>et</p>
                <p>de 18h30 à 11h00</p>
                <p> Fermé le dimanche midi</p>
            </div>
            <div class="col-md-3">
                <p>Informations</p>
                <p>03 07 44 41 33</p>
                <p>contact@yugen.com</p>
                <p>19 rue de Gand </p>
                <p>59800 Lille</p>
                <img src="@Url.Content("~/img/facebook-black.png")" style="width: 30px" />
                <img src="@Url.Content("~/img/instagram.png")"  style="width: 30px" />

            </div>
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20249.189292671945!2d3.07888135!3d50.624355099999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1704806861673!5m2!1sfr!2sfr"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <p class="text-center mt-5  text-muted">&copy; 2024 - yugen France All Rights Reserved.</p>
    </div>
</footer>