@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject YugenContext YugenContext
@using yugen_dev.Data
@using yugen_dev.Models

@{
    // Retrieve the client based on the current user
    var userId = UserManager.GetUserId(User);
    var client = YugenContext.Clients.FirstOrDefault(c => c.IdentityUserId == userId);
}

<ul class="navbar-nav" id="loginContainer">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bonjour @client?.FirstName !</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Déconnexion</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><img id="loginImage" src="img/white-profile-user-account-svgrepo-com.svg" style="width: 30px" /></a>
    </li>
}
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const loginImage = document.getElementById('loginImage');
    
    window.addEventListener('scroll', function() {
            if (window.scrollY > 50) {
                loginImage.src = 'img/profile-user-account-svgrepo-com.svg';
            } else {
                loginImage.src = 'img/white-profile-user-account-svgrepo-com.svg'; 
            }
        });
    });
</script>
